<h1>Editing friend</h1>



<br>


<div class="card text-bg-secondary mb-3" >
  <div class="card-header">Editing Friend</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"><%= render "form", friend: @friend %></p>
  </div>
</div>